beautifulsoup4
blinker
catboost
certifi
charset-normalizer
cianparser
click
cloudscraper
colorama
contourpy
cycler
DateTime
Flask
fonttools
graphviz
idna
itsdangerous
Jinja2
joblib
kiwisolver
lxml
MarkupSafe
matplotlib
narwhals
numpy
packaging
pandas
pillow
plotly
pyparsing
python-dateutil
pytz
requests
requests-toolbelt
scikit-learn
scipy
setuptools
six
soupsieve
threadpoolctl
transliterate
typing_extensions
tzdata
urllib3
Werkzeug
xgboost
zope.interface
sqlalchemy
psycopg2-binary